/* .quantityControl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;

    button {
        background-color: #ff4f5a; 
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
    }
  
    button:disabled {
      background: #ddd;
      cursor: not-allowed;
    }

    button:hover {
      background-color: #ff2f39; 
    }

    input {
        width: 50px;
        text-align: center;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }
}
  
.addToCart {
  display: block;
  background: #ff4f5a;
  width: 80%;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin: auto;

  active {
      background: #d43f4a;
  }
}



  
 
   */
